{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div style="height: 150px"></div>
    <h1>REGISTER</h1><br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="example@exmail.com" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-info" type="submit">Register</button>
    </form>
{% endblock %}
